@import '../../../../assets/styles/global.scss';

.profile-page {
    display: grid;
    >.profile-header {
        z-index: 0;
        padding: 20px;
        background-color: $primary;
        position: relative;
        height: 15rem;
        >h3 {
            color: $white;
            font-size: 2rem;
        }
    }
    .image-box {
        display: grid;
        justify-content: center;
        img {
            transform: translateY(30px);
            bottom: 0;
            z-index: 15;
            border-radius: 50%;
            padding: 20px;
            margin-top: 50px;
            box-shadow: 0 5px 8px rgba($primary, 0.3);
            width: 7rem;
            height: 7rem;
            background-color: $white;
        }
    }
}

.profile-container {
    display: grid;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin-top: 45px;

    .auth-container__card {
        padding: 20px 75px;
        border-radius: 5px;
        .auth-container__title {
            color: $primary;
            font-family: "Poppins Medium", sans-serif;
            font-size: 1.6rem;
            text-align: center;
            padding: 10px 30px;
            padding-top: 0;
            font-weight: 500;
        }
        .auth-container__logo {
            display: block;
            margin: 0 auto;
            width: 9rem;
            height: 9rem;
        }

        .label {
            font-size: 1.3rem;
            margin-bottom: 5px;
            color: $grey-400;
            display: block;
        }

        .auth-container__input-container {
            display: grid;
            position: relative;
            svg {
                display: block;
                margin: 26px 20px;
                position: absolute;
            }

            .auth-container__input {
                margin: 10px 0;
                width: 310px;
                @media screen and (max-width: 400px) {
                    width: 245px;
                }
            }

            svg {
                cursor: pointer;
                right: 0;
            }
        }

        .auth-container__button-primary {
            width: 100%;
            margin: 25px auto;
            background-color: $primary;
            padding: 5px 70px;
            color: $white;
            font-family: "Poppins Medium", sans-serif;
            font-size: 20px;
            border: 0;
            cursor: pointer;
            text-align: center;
        }

        .error-box {
            margin-top: 20px;
            .error-text {
                color: $danger;
                font-size: 15px;
                text-align: center;
            }
        }
    }
}