@import '../../../../assets/styles/global.scss';

.car {
    box-shadow: 0 3px 8px rgba($primary, .3);
    display: grid;
    gap: 6px;
    padding: 8px;
    height: auto;
    width: 15rem;
    border-radius: 6px;
    border: solid 1px rgba($primary, .05);
    >h4 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    >img {
        width: auto;
        height: 6rem;
    }
    >p {
        font-size: 1.4rem;
        font-weight: bold;
    }
    >.desc {
        font-size: 1.1rem;
        font-weight: 400;
    }
}